@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
/* The image used */
  background-image: url("../img/register.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  width: 256px;
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto 0 auto;
  margin: 1rem auto 0 auto;
}

.form-account {
  width: 256px;
  width: 16rem;
  display: flex;
  margin: 30px auto 0 auto;
  margin: 1rem auto 0 auto;
}

.form_logo {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-size: 2.5rem;
    margin-bottom: 8px;
  }

.form_logo span {
      color: #f44336;
    }

.form_title{
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 50px;
    margin-top: 140px;
    color: rgb(26, 25, 25);
  }

.form_title span {
      color: #101866;
    }

.form_items{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.form_inputs{
    width: 256px;
    width: 22rem;
    color: rgb(26, 25, 25);
    margin: 16px 0;
    margin: 1rem 0;
    position: relative;
    font-size: 25px;
  }

.form_inputs label {
      font-size: 16px;
      position: absolute;
      top: 5px;
      left: 0;
      pointer-events: none;
      transition: all 0.15s ease;
    }

.form_inputs input {
      width: 100%;
      height:36px;
      background: inherit;
      border: none;
      border-bottom: 3px solid;
      color: inherit;
    }

.form_inputs input:focus, .form_inputs input:valid{
        outline: none;
        border-width: 4px;
        margin-bottom: -1px;
        border-color: #101866;
      }

.form_inputs input:focus + label, .form_inputs input:valid + label{
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
        font-size: 70%;
        color: #101866;
      }

.form_button {
    width: 100%;
    height: 36px;
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    border-radius: 2px;
    color: white;
    background: #101866;
    box-shadow:2px 2px 2px #101866;
  }

.form_button:focus {
      outline: none;
    }

.form_button:active {
      outline: none;
      background: #101866;
    }

.form_other {
    width: 100%;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
  }

.form_other a {
      color:rgb(26, 25, 25);
      text-decoration: none;
    }

.accounts{
    margin-top: 7%;
}

.secondary-account{
    margin-top: 5%;
}

.secondary-account-btn{
    margin: 0;
    font-size: 25px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    vertical-align: top;
    float: right;
    margin: 8px;
}